@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* --color-front: 5 5 5;
      --color-front-alt: 125 125 125;
      --color-back: 250 250 250;
      --color-back-alt: 220 220 220; */
    /* TODO: border color */

    --color-front: 250 250 250;
    --color-front-alt: 180 180 180;
    --color-back: 10 10 10;
    --color-back-alt: 30 30 30;

    --color-error: 242 88 88;
    --color-access: 50 50 255;

    --spacing-2: 2px;
    --spacing-4: 4px;
    --spacing-6: 6px;
    --spacing-8: 6px;
    --spacing-v: var(--spacing);

    --radius-4: 4px;
    --radius-6: 6px;
    --radius-8: 8px;
    --radius-v: var(--radius);
    
    --border: 0.5px solid rgb(var(--color-front) / 0.1);
    --outline: rgb(var(--color-access)) solid 1px;
    
    --shadow-md: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
  }

  html,
  body {
    background: rgb(var(--color-back));
    overflow: hidden;
  }

  /* * {
    @apply transition-[background-color];
    @apply duration-300;
  } */
}

@layer utilities {
  .size-xs {
    --spacing: 4px;
    --radius: var(--spacing);
    --padding: var(--spacing);
    @apply text-xs;
  }

  .size-sm {
    --spacing: 8px;
    --radius: var(--spacing);
    --padding: var(--spacing);
    @apply text-sm;
  }

  .size-base {
    --spacing: 12px;
    --radius: var(--spacing);
    --padding: var(--spacing);
    @apply text-base;
  }

  .size-lg {
    --spacing: 16px;
    --radius: var(--spacing);
    --padding: var(--spacing);
    @apply text-lg;
  }
}