.base {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 36px;
  font-size: 36px;
  font-weight: 600;
  gap: var(--spacing-md);
  justify-content: center;
  padding: var(--spacing-sm) var(--spacing-md);
  box-sizing: content-box;

  &:focus-within {
    [data-caret] {
      height: 100%;
    }
  }

  [data-input] {
    width: 1px;
    height: 1px;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
  }

  [data-output] {
    color: var(--color-front-100);
  }

  [data-caret] {
    position: absolute;
    background: var(--color-front-100);
    left: 100%;
    width: 4px;
    transform: translateX(-100%);
    transition: all 150ms ease-in-out;
    animation: caret 1s infinite alternate;
    height: 0;
    border-radius: 1px;
  }
}

@keyframes caret {
  0% {
    opacity: 1;
  }

  100% {
    opacity: .25;
  }
}