@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root {
    /* --color-front: 5 5 5;
    --color-front-alt: 125 125 125;
    --color-back: 250 250 250;
    --color-back-alt: 220 220 220; */
    /* TODO: border color */

    --color-front: 250 250 250;
    --color-front-alt: 180 180 180;
    --color-back: 10 10 10;
    --color-back-alt: 30 30 30;

    --color-error: 242 88 88;
    --color-access: 50 50 255;
    
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
  }

  html,
  body {
    background: rgb(var(--color-back));
    /* background: rgb(10 10 10); */
  }
}