.base {
  position: relative;
  // border: var(--border);
  border-radius: var(--radius-md);
  padding: var(--spacing-sm);
  // color: var(--color-front-100);

  transition: all 100ms;

  [data-label=true] {
    // background: var(--color-back-100);
    // border: var(--border);
    // border-radius: var(--radius-sm);
    // box-shadow: var(--shadow-md);
    // padding: var(--spacing-md);
    // line-height: 1;

    transition: all 100ms;

    [data-prefix],
    [data-suffix],
    [data-children] {}
  }

  &:hover {}

  // &:active {
  //   [data-label] {
  //     transform: scale(0.95);
  //     box-shadow: var(--shadow-sm);
  //   }
  // }

  &:disabled {
    color: var(--color-front-alt-100);
    filter: brightness(0.75);
  }

  &[data-variant=default] {

    [data-label=true] {
      background: var(--color-back-100);
      // border: var(--border);
      border-radius: var(--radius-sm);
      box-shadow: var(--shadow-md);
      padding: var(--spacing-md);
      line-height: 1;

      transition: all 100ms;

      [data-prefix],
      [data-suffix],
      [data-children] {}
    }

    background: var(--color-back-alt-50);
    color: var(--color-front-100);

    &:hover {
      background: var(--color-back-alt-100);
    }

    &:active {
      background: var(--color-back-alt-75);
    }
  }

  &[data-variant=passive] {
    color: var(--color-front-90);
    border-color: transparent;
  
    &:active {
      [data-label=true] {
        transform: translateY(1px);
        transform: scale(.97);
      }
    }
  }

  &[data-variant=none] {
    border: none;
    border-radius: 0;
    padding: 0;
  }
}