.portal {
  --icon-size: 1.25rem;
  --portal-radius: var(--radius-lg);
  --portal-padding: var(--spacing-sm);
  --menu-item-spacing: var(--spacing-md);
  --divider-left: calc(
    var(--icon-size) + var(--menu-item-spacing) + var(--portal-padding)
  );
  --section-title-left: var(--divider-left);

  position: absolute;
  inset: 0;

  [data-menu-window] {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 100%;
    padding: var(--portal-padding);
    width: 16em;
    background: var(--color-back-100);
    border: var(--border);
    border-radius: var(--portal-radius);
    color: var(--color-front-100);
  }

  [data-menu-section] {
    display: flex;
    flex-direction: column;
    color: var(--color-front-alt-100);

    [data-menu-section-title] {
      margin-left: var(--section-title-left);
      padding: var(--spacing-md) 0;
      font-size: 0.75em;
      line-height: 1;
    }
  }

  [data-menu-item] {
    appearance: none;
    transition-property: color;
    transition-duration: 0.75s;
    display: flex;
    align-items: center;
    gap: var(--menu-item-spacing);
    padding: 10px;
    border-radius: calc(var(--portal-radius) - var(--portal-padding));
    font-size: 0.875em;
    line-height: normal;
    color: var(--color-front-100);
    white-space: nowrap;

    &:focus-visible {
      outline: 2px solid var(--color-access-100);
    }

    &[data-disabled="true"] {
      cursor: not-allowed;
      color: var(--color-front-alt-25);
    }

    &:hover {
      background: var(--color-back-alt-100);
    }

    &:active {
      background: var(--color-back-alt-50);
    }

    [dat-menu-item-icon] {
      display: flex;
      align-items: center;
      justify-content: center;
      height: var(--icon-size);
      aspect-ratio: 1;
    }

    [data-menu-item-content] {
      flex-grow: 1;
      overflow-x: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      text-align: left;
    }

    [data-menu-item-suffix] {
      justify-self: flex-end;
      color: var(--color-front-alt-100);
    }
  }

  [data-menu-divider] {
    margin: var(--spacing-sm) var(--spacing-md);
    margin-left: var(--divider-left);
    height: 1px;
    background: var(--color-front-alt-50);
  }
}
